body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.coloured-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: light;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
  font-size: 1.2rem;
  padding: .5rem;
}

/* Title Section */

#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-img {
  position: absolute;
  right: 25%;
  transform: rotate(20deg);
  width: 20%;
}

/* Features */

#features {
  position: relative;
}

.feature {
  padding: 2rem;
}

.feature-icon {
  color: #ef8172;
  /* font-size: 4rem; */
  padding: 1rem;
}

.feature-icon:hover {
  color: #ff4c63;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-description {
  color: #8f8f8f;
}

/* Testemonial Section */

#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 10%;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call to Action Section */

#cta {
  padding: 3% 15%;
}

/* Footer section */

#footer {
  padding: 5% 15%;
}

.footer-icon {
  padding: 20px 10px;
}



@media (max-width: 1199px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
    width: 40%;
  }
}
