body {
  text-align: center;
  background-color: #011F3F;
}

#big-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 8vh;
  color: #FE62FF;
  line-height: 1.5;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 4vh;
  margin:  2%;
  color: #FEF2BF;
}

#level-title:active {
  color: #F0FF0F;
}

.container {
  display: block;
  margin: auto;
}

.row {
  justify-content: center;
}

.btn {
  margin: 1rem;
  display: inline-block;
  height: 20vh;
  width: 20vh;
  border: .5rem solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 1rem white;
  background-color: grey;
}

@media screen and (max-width: 900px){

  #big-title {
    font-size: 8vw;
  }

  #level-title {
    font-size: 4vw;
  }

  .btn {
    height: 20vw;
    width: 20vw;
  }
}
